.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar nav,
.navbar nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.navbar ul {
    display: inline-flex;
    gap: 3rem;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    color: black;
}